/* Pre-defined Styles */
:root {
    --white: white;
    --black: black;
    --navy-200: #BBC0FF;
    --navy-800: #33397A;
    --navy-900: #1C204B;
    --navy-950: #0E1323;
    --orange-300: #FF8B64;
    --purple-500: #7078C9;
    --purple-600: #5747EA;
    --purple-700: #7335D2;
    --blue-300: #55C2E6;
    --pink-400: #FF5E7D;
    --green-400: #4BCF82;
    --yellow-300: #F1C75B;
    --grey-200: #D8D8D8;

    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
}

/* General Styles */
body {
    min-height: 100vh;
    box-sizing: border-box;
    padding: var(--spacing-300);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--navy-950);
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0;
    font-weight: 400;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "work" "play" "study" "exercise" "social" "self-care";
    gap: var(--spacing-300);
}

/* Header Section Styles */
header {
    width: 100%;
    background-color: var(--navy-900);
    border-radius: 15px;
    grid-area: header;
}

#user-div {
    background-color: var(--purple-600);
    padding: var(--spacing-400);
    gap: var(--spacing-300);
    display: flex;
    border-radius: 15px;
}

#user-img {
    width: 64px;
    border: 3px solid var(--white);
    border-radius: 50%;
}

#user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-100);
}

#user-info p {
    margin: 0;
    color: var(--navy-200);
    font-size: 15px;
    line-height: 18px;
}

#user-info p#user-name {
    color: var(--white);
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
}

nav {
    padding: var(--spacing-300) 0;
}

#nav-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    text-align: center;
}

#nav-list button {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: var(--purple-500);
    cursor: pointer;
    padding: 0;
}

#nav-list button.active-tab {
    color: var(--white);
}

/* General Card Styles */
.card-section {
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card-header {
    height: 38px;
}

.card-header img {
    position: absolute;
    z-index: 0;
    right: var(--spacing-200);
}

.card-main {
    background-color: var(--navy-900);
    border-radius: 15px;
    padding: var(--spacing-300);
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    position: relative;
    z-index: 1;
}

.card-main:hover {
    background-color: var(--navy-800);
}

.card-main div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-main p {
    margin: 0;
}

.task-name {
    color: var(--white);
    font-weight: 500;
}

.task-duration {
    color: var(--white);
    font-size: 32px;
    line-height: 38px;
    font-weight: 300;
}

.task-last {
    color: var(--navy-200);
    font-size: 15px;
    line-height: 18px;
}

/* Individual Card Styles */
#work {
    background-color: var(--orange-300);
    grid-area: work;
}

#work .card-header img {
    top: -11px;
}

#play {
    background-color: var(--blue-300);
    grid-area: play;
}

#play .card-header img {
    top: -5px;
}

#study {
    background-color: var(--pink-400);
    grid-area: study;
}

#study .card-header img {
    top: -6px;
}

#exercise {
    background-color: var(--green-400);
    grid-area: exercise;
}

#social {
    background-color: var(--purple-700);
    grid-area: social;
}

#social .card-header img {
    top: -17px;
}

#self-care {
    background-color: var(--yellow-300);
    grid-area: self-care;
}

#self-care .card-header img {
    top: -12px;
}

/* Tablet Responsive Styles */
@media screen and (min-width: 376px) {
    main {
        width: 100%;
        max-width: 612px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "header header header"
        "work play study"
        "exercise social self-care";
    }

    nav {
        padding: var(--spacing-300) 20%;
    }

    #user-info p#user-name {
        font-size: 40px;
        line-height: 47px;
    }

    .card-header {
        height: 33px;
    }

    .card-main div:last-of-type {
        flex-direction: column;
        align-items: start;
        gap: var(--spacing-100);
    }

    .card-main img {
        width: 16px;
    }

    .task-duration {
        font-size: 56px;
        line-height: 66px;
    }
}

/* Desktop Responsive Styles */
@media screen and (min-width: 769px) {
    main {
        max-width: 1116px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "header work play study"
        "header exercise social self-care";
        gap: var(--spacing-400);
    }

    header {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    #user-div {
        flex-direction: column;
        gap: var(--spacing-500);
        flex: 1;
    }

    #user-img {
        width: 78px;
    }

    #user-info {
        gap: 0;
    }

    nav {
        padding: var(--spacing-400);
    }

    #nav-list {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 21px;
        justify-content: space-between;
        text-align: start;
    }

    .card-header {
        height: 45px;
    }

    .card-main {
        padding: var(--spacing-400);
        gap: var(--spacing-300);
    }

    .card-main img {
        width: 21px;
    }
}